<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/login-styles.css">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=Array.from,Promise,Symbol,Object.setPrototypeOf,Object.getOwnPropertySymbols"></script>
    <script src="https://cdn.jsdelivr.net/npm/superagent"></script>


</head>
<body>
    <div class="login">
        <h1>LoginKey Generator</h1>
        <form>
            <input type="text" id="email" name="email" placeholder="email" required><br>
            <input type="password" id="password" name="password" placeholder="password (min 6 characters)" required><br>
            <input type="password" id="confirm-password" name="confirm-password" placeholder="confirm password" required><br>
            <div class="btn-group">
                <button id="sign-up">Sign Up</button> 
                <button>Cancel</button>
            </div>
        </form>
    </div>  
</div>
<script type="module" src="/js/config.js"></script>
<script type="module" src="/js/signup.js"></script>
</body>

</html>