@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
    background-color: #448EBF;
    font-family: 'Roboto', sans-serif;
    color: #383838;
}

h1 {
    margin: 20px auto 5px auto;;
    text-align: center;
}

#header, #sign-up, #sign-in, #new-group, #update-group, #user-profile {
    /* display: flex; */
    /* margin: 50px auto; */
    /* padding-bottom: 25px; */
    /* text-align: center; */
    /* width: 550px; */
    /* height: 500px; */
    /* align-items: center; */
    background-color: #EEEEEE;
    border: #EF861D 2px solid;
    width: 50%;
    margin: auto;
    border-radius: 25px;
    margin-bottom: 25px;
}

#header {
  padding-bottom: 20px;
}

#nav-bar {
    text-align: center;
}

#nav-bar a {
    margin-right: 15px;
}

a#show-log-out {
    margin-right: 0px;
}

#sign-up, #sign-in, #new-group, #update-group, #user-profile {
  text-align: center;
  padding: 30px 0px;
}
/* 
#sign-up form {
  margin-top: 25px;
} */

#sign-up input, #sign-in input, #new-group input, #update-group input, #user-profile input {
  width: 61%;
  margin: 7px;
  height: 30px;
}

.section {
  display: flex;
  /* margin: 50px auto;
  padding-bottom: 25px;
  text-align: center;
  width: 550px;
  height: 500px; */
  background-color: #EEEEEE;
  border-radius: 5%;
  border: #EF861D 2px solid;
}

form {
  /* padding-top: 8%; */
}

input {
  /* margin: 10px;
  height: 30px;
  width: 50%; */
}

.btn-group {
  padding-top: 5%;
}

.btn-group button {
  background-color: #EF861D; /* orange background */
  border: 2px solid #383838; /* orange border */
  color: white; /* White text */
  /* padding: 10px 24px; Some padding */
  cursor: pointer; /* Pointer/hand icon */
  /* float: left; Float the buttons side by side */
  /* margin: 25px 10px 10px 0px; */
  border-radius: 50px;
}
  
  /* Clear floats (clearfix hack) */
/* .btn-group:after {
    content: "";
    clear: both;
    display: table;
  } */
/*   

  /* Add a background color on hover */
.btn-group button:hover {
  background-color: #F79841;
}

.btn-group button {
  margin: 0px 10px;
  height: 40px;
  width: 100px;
}

#groups {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
  
.group {
  background-color: #EEEEEE;
  border: #EF861D 2px solid;
  /* width: 50%;
  margin: auto; */
  border-radius: 25px;
  margin: 15px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
}


.group .btn-group {
  text-align: center;
}

.delete-this-group, .update-group-cancel-button, #delete-account, #delete-all-groups-button {
  background-color: #fc030b !important;
}

.delete-this-group:hover, .update-group-cancel-button:hover, #delete-account:hover, #delete-all-groups-button:hover {
  background-color: #fa7075 !important;
}

.delete-this-group:hover, .update-group-cancel-button:hover, #delete-account:hover {
  background-color: #fa7075 !important;
}

.edit-this-group,.update-group-save-button, #new-group-clear-button, #logout-all {
  background-color: #fcfc03 !important;
  color: #383838 !important;
}

.edit-this-group:hover, .update-group-save-button:hover, #new-group-clear-button:hover, #logout-all:hover {
  background-color: #ffffa3 !important;
}

.refresh-key, .update-group-clone-button, #new-group-save-button, #update-user-save-button {
  background-color: #03fc20 !important;
  color: #383838 !important;
}

.refresh-key:hover, .update-group-clone-button:hover, #new-group-save-button:hover, #update-user-save-button:hover {
    background-color: #9cffa7 !important;
}

.group-info-label {
  font-weight: bold;
}

.group-h2 {
  text-align: center;
}
.glance-client-link {
  padding-top: 10px;
}

.update-group-check-key-button {
  background-color: #e056fd !important;
}

.update-group-check-key-button:hover {
  background-color: #ea8bfd !important;
}

#nav-bar, #sign-up, #new-group, #update-group, #user-profile, #groups {
  display: none;
}

#searchArea {
  width: 41%;
  margin: auto;
  display: none;
  text-align: right;
}

#searchBoxPUID {
  margin-top: 8px;
}

#sign-in-about, #sign-up-about {
  margin-top: 15px;
}

.edit-group-label, .new-group-label {
  display: inline-block;
  text-align: right !important;
  width: 140px;
}


.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

code:hover {
  color: green;
  cursor: copy;
}

.expired {
  color: red;
}